<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
<div class="w-screen h-screen flex bg-black items-center justify-center">
  <h1 class="text-white text-center text-8xl font-bold tracking-wider p-10 m-5 border-4 rounded-lg">
    <span class="underline decoration-double decoration-indigo-500">Hello</span> 
    <span class="text-sky-400 bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 ">World!</span>
  </h1>
</div>

<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
